/.idea/
Cargo.lock
/target/
libs/**/Cargo.lock
libs/**/target/
libs/**/test_data/
apps/**/Cargo.lock
apps/**/target/
apps/**/test_data/
**/*.rs.bk
dump/
test_data/
research/
.__openfa_cache__
.__nitrogen_cache__
__dump__/
