[package]
name = "openfa"
version = "0.1.0"
authors = ["Terrence Cole <terrence.d.cole@gmail.com>"]
edition = "2018"

[workspace]
members = [
    "apps/dump-pal",
    "apps/dump-pe",
    "apps/dump-pic",
    "apps/dump-sh",
    "apps/dump-asm",
    "apps/dump-lay",
    "apps/dump-lib",
    "apps/dump-xt",
    "apps/pack-pic",
    "apps/show-mm",
    "apps/show-sh",
    "apps/show-sky",

    "libs/dlg",
    "libs/fnt",
    "libs/galaxy",
    "libs/i386",
    "libs/jt",
    "libs/lay",
    "libs/lib",
    "libs/lzss",
    "libs/mm",
    "libs/mnu",
    "libs/nt",
    "libs/ot",
    "libs/pal",
    "libs/peff",
    "libs/pic",
    "libs/pkware",
    "libs/pt",
    "libs/render-wgpu/buffer/font_fnt",
    "libs/render-wgpu/buffer/shape_chunk",
    "libs/render-wgpu/buffer/shape_instance",
    "libs/render-wgpu/buffer/t2_buffer",
    "libs/render-wgpu/render_pass/shape",
    "libs/render-wgpu/render_pass/t2_terrain",
    "libs/reverse",
    "libs/sh",
    "libs/t2",
    "libs/wgpu-render/ofa_groups",
    "libs/xt",
]

# Emit debugging symbols for tracing
[profile.release]
debug = true

# Need profile-overrides from nightly
# The external 'image' crate is extremely slow with optimizations.
# The internal 'pkware' crate is also extremly slow without opt 1+.
#[profile.dev.overrides.image]
#opt-level = 3
#[profile.dev.overrides.pkware]
#opt-level = 2

[dependencies]