[package]
name = "openfa"
version = "0.1.0"
authors = ["Terrence Cole <terrence.d.cole@gmail.com>"]
edition = "2018"

[workspace]
members = [
        "apps/dump-pal",
        "apps/dump-pe",
        "apps/dump-pic",
        "apps/dump-sh",
        "apps/dump-asm",
        "apps/dump-lay",
        "apps/dump-lib",
        "apps/dump-vulkan",
        "apps/dump-xt",
        "apps/pack-pic",
        "apps/show-mm",
        "apps/show-sh",
        "apps/show-sh-raw",
        "apps/show-sky",

        "libs/animate",
        "libs/ansi",
        "libs/asset",
        "libs/dlg",
        "libs/fnt",
        "libs/galaxy",
        "libs/i386",
        "libs/jt",
        "libs/lay",
        "libs/lib",
        "libs/lzss",
        "libs/mm",
        "libs/nt",
        "libs/omnilib",
        "libs/ot",
        "libs/packed_struct",
        "libs/pal",
        "libs/peff",
        "libs/pic",
        "libs/pkware",
        "libs/pt",
        "libs/legacy_render",
        "libs/render-shared/common/camera",
        "libs/render-shared/common/geometry",
        "libs/render-vulkano/common/input",
        "libs/render-vulkano/common/window",
        "libs/render-vulkano/draw/text",
        "libs/render-wgpu/buffer/atmosphere",
        "libs/render-wgpu/buffer/fullscreen",
        "libs/render-wgpu/buffer/global_data",
        "libs/render-wgpu/buffer/glyph_cache",
        "libs/render-wgpu/buffer/shape_chunk",
        "libs/render-wgpu/buffer/shape_instance",
        "libs/render-wgpu/buffer/stars",
        "libs/render-wgpu/buffer/text_layout",
        "libs/render-wgpu/buffer/t2_buffer",
        "libs/render-wgpu/common/build-shaders",
        "libs/render-wgpu/common/gpu",
        "libs/render-wgpu/common/input",
        "libs/render-wgpu/common/shader_globals",
        "libs/render-wgpu/render_pass/screen_text",
        "libs/render-wgpu/render_pass/shape",
        "libs/render-wgpu/render_pass/skybox",
        "libs/render-wgpu/render_pass/t2_terrain",
        "libs/resource",
        "libs/reverse",
        "libs/sh",
        "libs/star_catalog",
        "libs/t2",
        "libs/xt",
]

# Emit debugging symbols for tracing
[profile.release]
debug = true

# Need profile-overrides from nightly
# The external 'image' crate is extremely slow with optimizations.
# The internal 'pkware' crate is also extremly slow without opt 1+.
#[profile.dev.overrides.image]
#opt-level = 3
#[profile.dev.overrides.pkware]
#opt-level = 2

[dependencies]